<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Plain Table</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <table id="userList" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
            <thead>
                <tr style="background-color: rgba(122, 118, 118, 0.37);">
                    <th><input type="checkbox" v-model="isCheckAll" @change="handleCheckAllChange"></th>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>积分</th>
                    <th>性别</th>
                    <th>评分</th>
                    <th>城市</th>
                    <th>签名</th>
                    <th>职业</th>
                    <th>财富</th>
                    <th>得分</th>
                </tr>
            </thead>
            <tbody v-for="(item, index) in userList" :key="item.id">
                <tr>
                    <td><input type="checkbox" v-model="item.isCheck"></td>
                    <td>{{ item.id}}</td>
                    <td>{{item.username}}</td>
                    <td>{{item.sex}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.sign}}</td>
                    <td>{{item.experience}}</td>
                    <td>{{item.logins}}</td>
                    <td>{{item.wealth}}</td>
                    <td>{{item.classify}}</td>
                    <td>{{item.score}}</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                userList: [],
                isCheckAll: false
            },
            methods: {
                handleCheckAllChange: function () {
                    let that = this;
                    if (that.isCheckAll) {
                        that.userList = that.userList.map((item) => { item.isCheck = true; return item; });
                    } else {
                        that.userList = that.userList.map((item) => { item.isCheck = false; return item; });
                    }
                }
            },
            mounted: function () {
                let that = this;
                $.get('/data/user.json').done(function (data) {
                    let tempList = data.data || [];
                    tempList = tempList.map((item) => { item.isCheck = false; return item; });
                    that.userList = tempList;
                }).done(function () {
                    setTimeout(() => {
                        that.isCheckAll = true;
                        that.userList[5].isCheck = true;
                    }, 5000);
                });
            }
        });

    </script>
</body>

</html>